// Theme for use globally, but as I'll use SCSS Modules, theme have to be imported first

// Colors
$primary: #ffb342;
$primary-dark: #eba63e;
$secondary: #1c2752;
$secondary-dark: #101731;
$bg: #f4f4f4;
$bg-secondary: #f2f2f2;
$gray: #7e7e7e;
$white: #ffffff;
$black: #2f2f2f;

// Font Family
$font-primary: 'Mulish', sans-serif;
