// Theme for use globally, but as I'll use SCSS Modules, theme have to be imported first

// Colors
$primary: '#FFB342';
$secondary: '#1C2752';
$bg: '#F4F4F4';
$gray: '#7E7E7E';
$white: '#FFFFFF';
$black: '#2F2F2F';

// Font Family
$font-primary: 'Mulish', sans-serif;
