@import './styles/theme.module.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: $font-primary;
  min-height: 100dvh;
}

body {
  background-color: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
}

p,
pre,
li,
span,
option,
input,
select,
a,
td,
th,
textarea {
  font-size: 18px;
}

@mixin mq($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin mqh {
  @media (hover) {
    @content;
  }
}
