@import './styles/theme.module.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  @apply max-w-[1200px] px-8 xl:max-w-[992px] xl:px-6 lg:max-w-[768px] lg:px-5 md:max-w-[640px] md:px-4 sm:max-w-[480px] sm:px-2 xsm:max-w-[400px] xxsm:max-w-[300px];
}

@mixin mq($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin mqh {
  @media (hover) {
    @content;
  }
}

html {
  font-family: $font-primary;
  min-height: 100dvh;
}

body {
  background-color: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 60px;

  @include mq($xl) {
    font-size: 50px;
  }

  @include mq($lg) {
    font-size: 45px;
  }

  @include mq($md) {
    font-size: 40px;
  }

  @include mq($sm) {
    font-size: 35px;
  }

  @include mq($xsm) {
    font-size: 30px;
  }
}

h2 {
  font-size: 50px;

  @include mq($xl) {
    font-size: 50px;
  }

  @include mq($lg) {
    font-size: 35px;
  }

  @include mq($md) {
    font-size: 30px;
  }

  @include mq($sm) {
    font-size: 25px;
  }

  @include mq($xsm) {
    font-size: 20px;
  }
}

h3 {
  font-size: 35px;

  @include mq($xl) {
    font-size: 30px;
  }

  @include mq($lg) {
    font-size: 25px;
  }

  @include mq($md) {
    font-size: 22px;
  }

  @include mq($sm) {
    font-size: 20px;
  }

  @include mq($xsm) {
    font-size: 20px;
  }
}

h4 {
  font-size: 30px;

  @include mq($xl) {
    font-size: 28px;
  }

  @include mq($lg) {
    font-size: 25px;
  }

  @include mq($md) {
    font-size: 23px;
  }

  @include mq($sm) {
    font-size: 21px;
  }

  @include mq($xsm) {
    font-size: 20px;
  }
}

h5 {
  font-size: 25px;

  @include mq($xl) {
    font-size: 24px;
  }

  @include mq($lg) {
    font-size: 23px;
  }

  @include mq($md) {
    font-size: 22px;
  }

  @include mq($sm) {
    font-size: 21px;
  }

  @include mq($xsm) {
    font-size: 20px;
  }
}

h6 {
  font-size: 22px;

  @include mq($xl) {
    font-size: 21px;
  }

  @include mq($lg) {
    font-size: 21px;
  }

  @include mq($md) {
    font-size: 20px;
  }

  @include mq($sm) {
    font-size: 19px;
  }

  @include mq($xsm) {
    font-size: 19px;
  }
}

p,
pre,
li,
span,
option,
input,
select,
a,
td,
th,
textarea {
  font-size: 18px;

  @include mq($xl) {
    font-size: 17px;
  }

  @include mq($lg) {
    font-size: 16px;
  }

  @include mq($xsm) {
    font-size: 16px;
  }
}

// Padding y axis
.p-xxl {
  @apply py-40 xl:py-36 lg:py-32 md:py-28 sm:py-12;
}

.p-xl {
  @apply py-32 xl:py-28 lg:py-24 md:py-20 sm:py-12;
}

.p-lg {
  @apply py-28 xl:py-24 lg:py-20 md:py-16 sm:py-12;
}

.p-md {
  @apply py-20 xl:py-16 lg:py-16 md:py-16 sm:py-12;
}

.p-sm {
  @apply py-16 xl:py-12 lg:py-12 md:py-12 sm:py-12;
}

.p-xsm {
  @apply py-12 xl:py-12 lg:py-12 md:py-12 sm:py-12;
}

// Padding top
.pt-xxl {
  @apply pt-40 xl:pt-36 lg:pt-32 md:pt-28 sm:pt-12;
}

.pt-xl {
  @apply pt-32 xl:pt-28 lg:pt-24 md:pt-20 sm:pt-12;
}

.pt-lg {
  @apply pt-28 xl:pt-24 lg:pt-20 md:pt-16 sm:pt-12;
}

.pt-md {
  @apply pt-20 xl:pt-16 lg:pt-16 md:pt-16 sm:pt-12;
}

.pt-sm {
  @apply pt-16 xl:pt-12 lg:pt-12 md:pt-12 sm:pt-12;
}

.pt-xsm {
  @apply pt-12 xl:pt-12 lg:pt-12 md:pt-12 sm:pt-12;
}

// Padding bottom
.pb-xxl {
  @apply pb-40 xl:pb-36 lg:pb-32 md:pb-28 sm:pb-12;
}

.pb-xl {
  @apply pb-32 xl:pb-28 lg:pb-24 md:pb-20 sm:pb-12;
}

.pb-lg {
  @apply pb-28 xl:pb-24 lg:pb-20 md:pb-16 sm:pb-12;
}

.pb-md {
  @apply pb-20 xl:pb-16 lg:pb-16 md:pb-16 sm:pb-12;
}

.pb-sm {
  @apply pb-16 xl:pb-12 lg:pb-12 md:pb-12 sm:pb-12;
}

.pb-xsm {
  @apply pb-12 xl:pb-12 lg:pb-12 md:pb-12 sm:pb-12;
}

.scroll-to-top {
  border-radius: 9999px !important;
  padding: 30px;
  z-index: 100;
  box-shadow: 2px 1px 15px 2px rgba(0, 0, 0, 0.28) !important;

  &:active {
    transform: none !important;
  }

  svg {
    position: fixed;
    right: 55px;
    bottom: 55px;
  }
}
