@import '../theme.module.scss';

.header {
  height: calc(100vh - 199px);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  &-transparent {
    background-color: rgb(255 255 255 / 0.2);

    img {
      width: 20px;
      height: auto;
      margin-right: 10px;
    }
  }
}

$gradient: 80%;

.main-services {
  background-image: linear-gradient(to bottom, $primary 0%, $primary $gradient, $bg $gradient, $bg 100%);
}
